[project]
	description = Software test and fault localization tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jeonghodot
[access "refs/for/refs/*"]
	read = group user/jeonghodot
	push = group user/jeonghodot
	label-Code-Review = -2..+2 group user/jeonghodot
	label-Verified = -1..+1 group user/jeonghodot
	rebase = group user/jeonghodot
	removeReviewer = group user/jeonghodot
	submit = group user/jeonghodot
[access "refs/heads/*"]
	read = group user/jeonghodot
	create = group user/jeonghodot
	push = +force group user/jeonghodot
	pushMerge = group user/jeonghodot
[access "refs/tags/*"]
	push = +force group user/jeonghodot
	pushTag = group user/jeonghodot
	pushSignedTag = group user/jeonghodot
